@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* background: url(../assets/background.jpg) center center/cover no-repeat; */
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

input,
select,
button {
  border: none;
  cursor: pointer;
}

select,
.number {
  height: 2rem;
  border-radius: 5px;
  padding: 0.2rem;
  margin: 0.5rem;
  width: 10rem;
}

button {
  box-shadow: 2px 2px 4px #333;
  &:active {
    box-shadow: none;
    transform: translate(2px, 2px);
  }
}
.btn {
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  width: 6.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  &-buy,
  &-more-buy {
    background-color: rgb(41, 83, 41);
  }
  &-more {
    background-color: rgb(139, 140, 141);
  }
}

.page-container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.modal-open {
  position: fixed;
}

.modal {
  position: absolute;
  background-color: rgba(51, 51, 51, 0.664);
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  .bi-x {
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
    transform: scale(2);
    cursor: pointer;
  }
  .cart {
    position: relative;
    background-color: #fff;
    width: 55rem;

    height: 50rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-holder {
      height: 20rem;

      overflow-y: scroll;
      overflow-x: hidden;
      li {
        position: relative;
        display: flex;
        padding: 1rem 0;
        justify-content: space-between;
        align-items: center;
        .header {
          display: flex;
          align-items: center;
        }

        p {
          font-size: 1.1rem;
        }
        .img-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 3.3rem;
          width: 3.3rem;
          img {
            max-height: 3rem;
            max-width: 3rem;
          }
        }
        .article-title {
          width: 10rem;
          padding: 0 1rem;
        }

        .article-price {
          padding: 0.4rem;
          width: 5rem;
          text-align: right;
        }

        select,
        .number {
          width: 5rem;
          border: 1px solid #333;
        }
        .number {
          width: 2.5rem;
        }
        .number::-webkit-inner-spin-button,
        .number::-webkit-outer-spin-button {
          opacity: 1;
        }
        .print-select {
          display: flex;
          flex-direction: row;

          label {
            padding-left: 0.3rem;
          }
        }

        i {
          padding: 0.3rem;
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }
    .summary {
      display: flex;
      width: 20rem;
      margin-right: 0rem;
      margin-left: auto;
      align-self: right;
      justify-content: space-between;
    }
    .toCheckout {
      background-color: rgb(41, 83, 41);
      color: #fff;
      padding: 0.7rem;
      width: 8rem;
      margin-right: 0px;
      margin-left: auto;
    }
  }
  .more {
    position: relative;
    background-color: #fff;
    width: 40rem;
    height: 50rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-container {
      height: 25rem;
      width: 25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 25rem;
        max-width: 25rem;
        margin: auto;
      }
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      h3 {
        margin: 1rem;
      }
      select {
        border: 1px #333 solid;
        margin-bottom: 1rem;
      }
      .price {
        font-weight: bold;
        margin: 0.3rem;
      }
    }
  }
}
#landing {
  height: 100vh;
  width: 100vw;

  color: rgb(22, 22, 22);
  overflow: hidden;
  .welcome-text {
    text-align: center;
    padding-top: 7%;

    h1 {
      font-size: 5rem;
      font-family: "Fuzzy Bubbles", cursive;
    }
    p {
      font-size: 2rem;
    }
  }
  .carousel {
    margin-top: 4rem;
    position: relative;
    &-item {
      height: 500px;
      max-width: 800px;
      margin: auto;
      display: none;
      img {
        height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
        object-fit: cover;
        padding: 3rem;
        background-color: #fff;
      }
    }
    .fade {
      animation: fade 3s;
    }
  }
  a {
    background-color: rgb(7, 58, 7);
    padding: 1rem 2rem;
    border-radius: 10px;
    display: block;
    width: 10rem;
    margin: 3rem auto;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: #333 2px 2px 4px;

    &:active {
      transform: translate(2px, 2px);
      box-shadow: #333 0px 0px 0px;
    }
  }
}

nav {
  background-color: rgba(51, 51, 51, 0.699);
  position: fixed;
  z-index: 2;
  top: 0;
  transition: top 0.2s;
  width: 100%;
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    h3 {
      font-size: 2rem;
      padding: 0.5rem;
    }
    ul {
      display: flex;
      li {
        padding: 1rem;

        .active {
          font-weight: bold;
          letter-spacing: 1px;
        }
      }
      .cart-link {
        position: relative;
        .cart-count {
          position: absolute;
          text-align: center;
          top: -5px;
          right: -10px;
          height: 1rem;
          width: 1rem;
          font-size: 0.7rem;
          border-radius: 50%;
          background-color: red;
        }
      }
    }
  }
}

#articles {
  min-height: 100vh;
  max-width: 98vw;
  position: relative;
  .welcome {
    text-align: center;

    padding-top: 7rem;
    h4 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
    .filter-options {
      margin: 3rem auto 1rem auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      max-width: 35rem;
      position: relative;
    }
    select {
      margin-bottom: 2rem;

      option:first-child {
        color: rgb(147, 147, 150);
      }
    }

    input {
      height: 2rem;
      border-radius: 5px;
      padding: 0.2rem;
      margin: 0.5rem;
      width: 10rem;
    }
  }

  .clear {
    height: 2rem;
    border-radius: 5px;
    padding: 0 0.2rem;
    margin: 0.5rem;
    width: 10rem;
    background-color: rgb(228, 237, 245);
  }
  .articles-display {
    margin-top: 5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5rem;
    .card {
      width: 20rem;
      height: 30rem;
      background-color: #fff;
      border-radius: 5px;
      overflow: hidden;
      margin: auto;
      .img-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18rem;
        img {
          max-width: 90%;
          max-height: 100%;
          padding: 10% 5%;
        }
      }
      .info {
        background-color: rgb(238, 238, 238);
        padding: 5% 13% 7% 13%;
        height: 12rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .btn-group {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  #landing {
    .welcome-text {
      padding-top: 8rem;
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    .carousel {
      &-item {
        height: 250px;
        max-width: 550px;
      }
    }
  }
  #articles {
    .welcome {
      padding-top: 3rem;
    }
    .filter-options {
      margin: 2rem auto 1rem auto;
      select,
      input {
        margin: 0.3rem;
      }
    }
    .articles-display {
      grid-template-columns: 1fr;
      margin: auto;
      .card {
        height: 28rem;
        .info {
          height: 10rem;
        }
      }
    }
  }
  .modal {
    .cart {
      height: 70%;
      width: 90%;
      padding: 2rem;
      &-holder {
        li {
          flex-direction: column;
          border-bottom: #333 1px dotted;
          .header {
            margin-bottom: 0.5rem;
          }
          label {
            width: 5rem;
          }
          .article-price {
            width: 85%;
          }
        }
        i {
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
        }
      }
      .summary {
        width: 96%;
        margin: 0;
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
